.navbar {
    border-bottom: 1px solid grey;
}

.navbar-brand img {
    width: 50px;
}

.error {
    color: red;
    padding: 5px;
}

#submit-info {
    display: none;
    padding: 5px;
    color: red;
}