.navbar {
    border-bottom: 1px solid grey;
}

.navbar-brand img {
    width: 50px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}

.error {
    color: red;
    padding: 5px;
}

#submit-info {
    display: none;
    padding: 5px;
    color: red;
}

